.rvt-dragger {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background: blueviolet;
  cursor: col-resize;

  &::after {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    top: 0;
    bottom: 0;
  }

  &:hover {
    background: #333;
  }
}

.rvt-drag-current {
  background: #038c7f;
}



.rvt-dragger-container
{
  position: absolute;
  top: 0;
  bottom: 0;
  background: blueviolet;
  cursor: col-resize;

  border-radius:1em;
  border:1px solid rgba(0,0,0, 0.5);

  background-color:red;

  &::after {
    content: "";
    position: absolute;
    left: -2px;
    right: -2px;
    top: 0;
    bottom: 0;
  }

  &:hover {
    background: #333;
  }
}